*{
  margin: 0;
  padding: 0;
  font-size: normal;
  font-family: 'Georgia', serif;
}

/*Header style */
header{
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
}

header > h1{
  font-size: large;
  color: rgb(3, 72, 128);
  text-align: center;
}

/* Form Style */
#formContainer{
   padding: 10px 20px;
   font-weight: bolder;
   margin: 20px;
   border: 2px solid rgb(52, 55, 97);
   border-radius: 10px;
   background: rgb(95, 139, 206);
   margin: 10px 15px;
   margin-bottom: 10px;
   margin-top: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
 }
 
button{
    border-radius: 10px;
    background-color: rgb(18, 61, 126);
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    display: flex;
    justify-self: center;
}

#formContainer > #studentForm{
    text-align: left;
    margin: 10px 15px;
    padding: 10px;
    color:rgb(0, 0, 0);
}

#studentForm input{
    display: block;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto 15px auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: white;
    color: black;
}


.list-item{
    text-align: center;
    border-radius: 30px;
    background: rgb(95, 139, 206);
    border: 2px solid rgb(52, 55, 97);
    margin: 10px 10px;
    padding: 50px;
    border-radius: 10px;
}

#studentList{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

/* responsive design */
@media (width <= 320px){
  #studentList > .list-item{
    grid-column: span 12;
  }
}

@media (width > 320px) and (width <= 600px){
  #studentList > .list-item{
    grid-column: span 12;
  }
}

@media (width > 320px) and (width >= 1500px){
  #studentList > .list-item{
    grid-column: span 12;
  }
}